h2, label {
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#red, #green, #blue {
    height: 25px;
    width: 25px;
}

#colorname {
    height: 30px;
    font-size: 25px;
}

#alert {
    color: red;
}

button {
    height: 50px;
    border: none;
    background-color: blue;
    font-size: 25px;
    border-radius:7px;
    color: whitesmoke;    
}